/* MAIN-STYLES */
body {  
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* TEXT DECORATION */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

/* LINK STYLES */
.style-link:hover,
.style-link:focus {
    color: #404bbf;
}


/* PAGE NAVIGATOR SECTION */
/* logo-style */
.logotype {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 76px;
}

.text-logo {
    color: #2E2F42;
}

.menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    display: block;
}

.color-link {
    color:#4D5AE5;
}

.curent::after {
     position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    display: block;
}

/* address */
.contacts-link {
    font-style: normal;
}

.info-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.info-link-number {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.menu-link, .info-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ELEMENTS POSITION */
.header-nav {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    justify-content: space-between;

}

.page-navigator {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    padding: 24px 0;
}

.container-address {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
}

.contacts-link {
    display: flex;
    font-style: normal;
}

/* HERO SECTION */
/* ELEMENTS POSITION */
.main-menu {
    background: #2E2F42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.7), 
	rgba(46, 47, 66, 0.7)
	),
	url(../images/background_images/people-office.jpg);
    max-width: 1440px;
    margin: auto;
}

.main-menu-title {
    max-width: 496px;
    color: #ffffff;
    font-family: inherit;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
 /* button-style */
.button-text {
    display: block;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* BUTTON-ACTIVE */

.button-text:hover,
.button-text:focus {
    background-color: #404BBF;
}

/* ADVANTAGES SECTION */
/* visually-patern */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.advantages-body {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ELEMENTS POSITION */

.advantages-position {
    display: flex;
}

.advatnages-list {
    display: flex;
    gap: 24px;
}

.advantages-items {
    width: calc((100% - 72px) / 4);

}

.backgroung-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
}

/* OUR TEAM SECTION */
.our-team {
    background-color: #F4F4FD;
}

.team-title{
    color:#2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-position {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ELEMENTS POSITION */
.team-list {
    display: flex;
    gap: 24px;
}

.employee-card {
    padding: 32px 0;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    text-align: center;
    margin-bottom: 8px;
}

.team-container {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icon-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media {
    width: 40px;
    height: 40px;
}

.media-position {
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.media-position:hover,
.media-position:focus {
  background-color: #404bbf;
}

.icon-media {
    fill: #f4f4fd;
}

/* OUR PORTFOLIO SECTION*/
.our-portfolio {
    background-color: #FFFFFF;

}

.portfolio-title {
    color:#2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ELEMENTS POSITION */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-container {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.text-overflow {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container:hover .text-overflow{
    transform: translate(0);
}

.application-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* FOTTER SECTION */
.footer-text {
    color:  #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.text-logo-color {
    color:#F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* ELEMENTS POSITION */
.footer-block {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer-container{
    margin-right: 120px;
}

.footer-text-social {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.logotype-footer {
    display: inline-block;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-size {
    margin-right: 80px;
}

.footer-color:hover,
.footer-color:focus {
    background-color: #31d0aa;
}

/* ----------FOOTER SUBSCRIBE FORM*/
.text-footer {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    color: #FFFFFF;
}

/* ----------FOOTER-BUTTON-STYLE */
.footer-button {
    padding: 0 24px;
    min-width: 165px;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-svg-icon {
    margin-left: 16px;
    stroke: white;
}
/* ----------/FOOTER-BUTTON-STYLE */
/* ----------/FOOTER SUBSCRIBE FORM*/

/* REVIEWS */
/* -------------BACKDROP */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------/BACKDROP */

/* -------------MODAL WINDOW  */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 100;
    margin: 0 auto;
    background-color: #fcfcfc;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------CLOSE-BUTTON-STYLE */
.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button-icon:hover,
.close-button:focus,
.close-button-icon:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
/* ----------/CLOSE-BUTTON-STYLE */
/* -------------/MODAL WINDOW */

/* -------------MODAL-STYLE */
/* ---------I-II-III FORM MODAL STYLE*/
.review-form-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.review-form-container {
    margin-bottom: 8px;
}


.review-form-input-container {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus  {
    border-color: #4D5AE5;
}

.review-form-icon {
    position: absolute; 
    top: 50%;
    left: 16px;
    transform: translateY(-50%
    );
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-icon {
    fill: #4D5AE5;
}
/* ----------/I-II-III FORM MODAL STYLE */

/* ----------FOURTH FORM COMMENTS */

.review-form-container-area {
    margin-bottom: 16px;
}

.review-form-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
    outline: transparent;
}
/* ----------/FOURTH FORM COMMENTS */

.review-form-checkbox-container {
    margin-bottom: 24px;

}

/* -----------FIVE FORM CHECKBOX */

.review-form-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    border-radius: 2px;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-box-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.review-form-checkbox:checked 
    + .review-form-box-label 
    > .review-form-box {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox:focus
    + .review-form-box-label 
    > .review-form-box {
        outline: 1px solid #FAFAFA;
}
/* -----------/FIVE FORM CHECKBOX */

/* --------BUTTON-SEND-MODAL */

.review-form-send {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    color: #FFF;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-send:hover, 
.review-form-send:focus {
    background-color: #404bbf;
}
/* --------/BUTTON-SEND-MODAL */
/* -------------/MODAL-STYLE */
/* /REVIEWS */

/* -------------JS-MUNIPULATION*/
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
}


/* =========== MOBILE FIRST METHOD ===========   */
/* !Mobile version 320px */

/* !Mobile version 320px */



/* =========== MOBILE FIRST METHOD ===========   */












