.main-menu {
    background: #2E2F42;
    text-align: center;

    min-width: 320px;
    padding: 72px 0;
    
    background-image: linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.7), 
	rgba(46, 47, 66, 0.7)
	),
	url(../../images/background_images/mobile-people-office.jpg);
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.main-menu-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;

    max-width: 156px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.button-text {
    color:#FFF;
    background-color: #4d5ae5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.button-text:hover,
.button-text:focus {
    background-color: #404BBF;
} 

@media screen and (min-width: 768px) {
    .main-menu {
        max-width: 768px;
        padding: 112px 0;
        /* margin: auto; */
        background-image: linear-gradient(
	    to bottom, 
	    rgba(46, 47, 66, 0.7), 
	    rgba(46, 47, 66, 0.7)
	    ),
	    url(../../images/background_images/tablet-people-office.jpg);
    }

    .main-menu-title {
        font-size: 56px;
        line-height: 1.07;

        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-menu {
       background: #2E2F42;
        padding: 188px 0;
        max-width: 1440px;
        /* margin: auto; */
        background-image: linear-gradient( 
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7) ), 
        url(../../images/background_images/desktop-people-office.jpg);
       
    }
    
    .main-menu-title {
        margin-bottom: 48px;
    }
}
